<h1>La team</h1>
<div class="card-deck">
  <div class="card">
    <img src="https://d.newsweek.com/en/full/1546264/mandalorian-baby-yoda.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Romain</h5>

    </div>
  </div>
  <div class="card">
    <img src="https://www.wnd.com/wp-content/uploads/2013/11/chuck-norris-600.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Chuck</h5>

    </div>
  </div>